

* {
    box-sizing: border-box;
    margin: 0;
}

body {
	font-family: 			sans-serif;
	background-color: 		black;
	color: white;
	text-align: center;
	margin-top: 1em;
}

/* Style the list */
table.tab {
    list-style-type: 		none;
    margin: 				0;
    padding: 				0;
    overflow: 				hidden;
    border: 				1px solid black;
    background-color: 		gold;
    height:                 5vh;
	width: 100%;
	text-align: center;
}

/* Float the list items side by side */
table.tab td {
	float: 					left;
	margin: 0;
	text-align: center;
	width: 50%;
	height: 100%;
}



/* Style the links inside the list items */
table.tab td a {
    display: 				block;
    color: 					white;
    text-align: 			center;
    padding:                15px;
    text-decoration: 		none;
    transition: 			0.3s;
    font-size: 				17px;
	border-radius: 15px;
	width: 100%;
	height: 100%;
}

/* Change background color of links on hover */
table.tab td a:hover {
	background-color: 		maroon;
	height: 100%;
}

/* Create an active/current tablink class */
table.tab td a:focus, .active {
		background-color: 	maroon;
		
}

/* Style the tab content */
.tabContent {
    display: 				none;
    padding: 				6px 12px;
    height:                 92vh;
	
}	

.center {
    text-align:         center;
}


input[type=range] {
    width:              40%;
}

span {
    border-radius: 10px;
    border: 2px solid white;
}

.logo {
	width: 200px;
	height: 200px;
	text-align: left;
	bottom: 0;
	position: absolute;
	padding-bottom: 0;
	left: 0px;
}

#copyright{
	text-align: left;
	bottom: 0;
	position: absolute;
	padding-bottom: 50px;
	left: 35px;
	font-size: 12px;
	
}


#regform{
	width: 40%;
	color: white;
	margin: auto;
	font-size: 150%;
	text-align: left;
	padding-left: 30px;
	line-height: 1.6em;
	border: 1px solid gold;
	background-color: black;
}
