

* {
    box-sizing: border-box;
    margin: 0;
}

body {
	font-family: 			sans-serif;
}

/* Style the list */
ul.tab {
    list-style-type: 		none;
    margin: 				0;
    padding: 				0;
    overflow: 				hidden;
    border: 				1px solid #ccc;
    background-color: 		#f1f1f1;
    height:                 8vh;
}

/* Float the list items side by side */
ul.tab li {
	float: 					left;
}

/* Style the links inside the list items */
ul.tab li a {
    display: 				inline-block;
    color: 					black;
    text-align: 			center;
    padding:                20px;
    text-decoration: 		none;
    transition: 			0.3s;
    font-size: 				17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
	background-color: 		#ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
		background-color: 	#ccc;
}

/* Style the tab content */
.tabContent {
    display: 				none;
    padding: 				6px 12px;
    height:                 92vh;
}	

.center {
    text-align:         center;
}


input[type=range] {
    width:              40%;
}

span {
    border-radius: 10px;
    border: 2px solid white;
}
